@layout('layouts/app')
@set('title', 'Dashboard')
@set('subTitle', null)

@section('content')
<div class="row gx-5 g-xl-10 g-xl-10">
  <div class="card">
      <div class="card-body" style="padding-bottom: 1000px"> </div>
  </div>
</div>
@endsection
